h1 {
    color: #fff;
}

h5 {
    color: #fff;
}

span {
    color: #fff;
    font-size: 24px;
}

#effetto {
    height: 100vh;
    background-color: #cd6767;
    position: relative;
}

.testo {
    width: 100%;
    height: 80px;
    align-items: center;
}

.effetto-cognomi #cognome-0 {
    animation: salita 3s linear forwards;
}
.effetto-cognomi #cognome-1 {
    animation: salita 3.2s linear forwards;
}
.effetto-cognomi #cognome-2 {
    animation: salita 3.4s linear forwards;
}
.effetto-cognomi #cognome-3 {
    animation: salita 3.6s linear forwards;
}
.effetto-cognomi #cognome-4 {
    animation: salita 3.8s linear forwards;
}
.effetto-cognomi #cognome-5 {
    animation: salita 4s linear forwards;
}
.effetto-cognomi #cognome-6 {
    animation: salita 4.2s linear forwards;
}

.effetto-cognomi {
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

@keyframes salita{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 0.50;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 1;
    }

}
